* {
  margin: 0;
  padding: 0;
}
.row {
  width: 100%;
  height: 660px;
  background-color: black;
  position: relative;
  overflow: hidden;
}
.top {
  width: 100%;
  height: 330px;
  border-bottom: 10px dashed white;
  position: relative;
}
img.car1 {
  width: 400px;
  height: auto;
  position: absolute;
  left: 0;
  top: -50px;
  transform: rotateY(180deg);
  animation-name:move ;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
.bottom{
  width: 100%;
  height: 300px;
  position: relative;
  background-color: black;
}
.bottom img{
  width: 400px;
  height: auto;
  position: absolute;
  right: 0;
  top: -50px;
  transform: rotateX(0deg);
  animation-name:move1;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}


@keyframes move {
  25% {
    left: 120%;
  }
  
  50% {
    transform: rotateY(360deg);
  }
  75% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
@keyframes move1 {
  25% {
    right: 150%;
  }
  
  50% {
    transform: rotateY(180deg);
  }
  75% {
    right: -150%;
  }
  100% {
    right: 150%;
  }
}